<footer>
			<div id="footer">
				<h3>友情链接</h3>
				<div class="links-list">
					<a href="http://www.atool.org/" title="" target="view_window">在线工具</a>
					<a href="http://www.zhimiyun.com/" title="不仅仅是知识管理系统，为企业构建云端大脑和工作协同平台。" target="view_window">智米云</a>
					<a href="http://www.youj.com" title="知识共享平台,帮你找到解决工作问题的知识、工具和人" target="view_window">优聚</a>
					<a href="http://www.gn00.com/" title="技术宅社区" target="view_window">技术宅</a>
					<a href="http://www.yiibai.com/" title="易百网专注于各种程序代码" target="view_window">易百教程</a>
					<a href="http://www.mindmanager.cc/" title="Mindjet唯一授权MindManager中文官网" target="view_window">思维导图</a>
					<a href="http://www.thinksaas.cn/" title="thinksaas开源社区" target="view_window">开源社区</a>
					<a href="http://www.huishenghuiying.com.cn/" title="会声会影视频制作软件" target="view_window">视频制作软件</a>
					<a href="http://www.apppark.cn/" title="应用公园" target="view_window">app开发</a>
					<a href="http://www.moke8.com/" title="魔客吧" target="view_window">网页模版</a>
					<a href="http://www.youdaili.net" title="代理ip吧" target="view_window">代理ip</a>
					<a href="http://www.17ce.com/" title="17ce网站测速" target="view_window">网站测速</a>
					<a href="http://edu.51cto.com/" title="51CTO学院" target="view_window">51CTO学院</a>
					<a href="http://www.pageadmin.net" title="PageAdmin CMS-网站建设高效解决之道" target="view_window">网站制作</a>
					<a href="http://www.officezhushou.com/" title="office办公软件" target="view_window">office办公软件</a>
					<a href="http://www.baihui.com/" title="" target="view_window">crm</a>
					<a href="http://www.ecmoban.com" title="ecshop模板堂" target="view_window">ecshop模板堂</a>
					<a href="http://layabox.com/" title="" target="view_window">LayaBox</a>
					<a href="http://server.zzidc.com" title="景安网络" target="view_window">1元主机</a>
					<div class="clearfix"></div>
				</div>

			</div>
			<div class="beian"> Copyright © 2003-2017 版权所有 备案/许可证编号为：<span>蜀ICP备11025334号</span> 经营许可证编号:<span>蜀ICP证110573号</span> </div>
</footer>

<div id="slide-nav">
	<ul>
		<li id="fast_edit"><a href="#post-edit"><i class="iconfont">&#xe627;</i></a></li>
		<li id="chat"><a href="tencent://message/?uin=751765309"><i class="iconfont">&#xe605;</i></a></li>
		<li id="top"><i class="iconfont">&#xe689;</i></li>
	</ul>
</div>
